*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.opt-cont{
    height: 4rem;
    width: 3.5rem;
    background-color: #dfe4ea;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.tool-cont{
    height: 5rem;
    width: 50vw;
    background-color: #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
.tool-cont > *{
display: block;
width: 6rem;
height: 2rem;
display: flex;
justify-content: center;
font-size: 1.5rem;
padding: 10px;


}
.pencil-tool-cont{
    height: 5rem;
    width: 8rem;
    position: absolute;
    top: 7rem;
    left: 25vw;
    background-color: #dfe4ea;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 3px;
display:none;
    

}
.pencil-width input{
    width: 80%;
}
.pencil-width{
    
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-color{
    width: 1.5rem;
    height: 2rem;
    border-radius: 50%;
}
.pencil-color-cont{
    
    height: calc(100%-2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.eraser-tool-cont{
    height: 2rem;
    width: 7rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7rem;
    left: 33vw;
    background-color: #dfe4ea;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 3px;
}
.eraser-tool-cont input{
    width: 80%;
}
.scale-tool{
    animation-name: scale-tool;
    animation-duration: 1s;
}
@keyframes scale-tool {
    0%{
        transform:scale(0,1);
    }100% {
        transform:scale(1);
    }
}
.sticky-cont{
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 15rem;
    left:10rem;

    

}
.header-cont{
    height: 2rem;
    background-color:lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-color: #f1f2f6;
}
.note-cont{
    height: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
}
.header-cont > *{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;

}
.minimize{
    background-color:#ff4757;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.remove{
    background-color: #ff4757;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}
textarea{
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
}
img{
    height: 100%;
    width: 100%;
}